.start-new-project {
    height: 100%; /* Full height of the container */
    background-color: #38b6ff; /* Same background color */
    display: flex;
    flex-direction: column; /* Adjust layout as necessary */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    color: white; /* Text color */
  }
  

.project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Space between items */
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-item:hover {
    transform: scale(1.05); /* Slightly enlarge item on hover */
}

.project-item img {
    width: 60px; /* Adjust image size as needed */
    height: auto; /* Maintain aspect ratio */
}

.project-item span {
    margin-top: 5px;
    text-align: center;
}
